---
layout: default
title: Services
section_id: services
services_left:
  - icon: linux 
    title: Amazon Web Services  
    desc: AWS/GCP consulting services 
  - icon: eye 
    title: Cloud Surveillance Systems 
    desc: Video recording services driven by Amazon Web Services
  - icon: database 
    title: Cloud Scaling Optimizing 
    desc: Get out of the dark ages and respond quickly to your customer demands.
  - icon: cloud 
    title: Cloud Automation  
    desc: Push your applications to the cloud, load balance, optimize and create delivery pipelines.
services_right:
  - icon: lock
    title: Security
    desc: Cloud based VPN and encryption services
  - icon: compass
    title: Cloud Planning and Strategy 
    desc: Build & deploy stable web applications to drive your business.
  - icon: database
    title: Data
    desc: Data archive and restore services for companies with compliance regulations.
  - icon: bolt 
    title: Cloud Hosting 
    desc: Having issues with your web applications performance, let us help. 
---

<div class='full parallax' style='background-image: url(images/@stock/service-page-header.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our services" tagline="Get to know what we do" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      {% for service in page.services_left %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
    <div class='medium-6 columns'>
      {% for service in page.services_right %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>
